.buttonEvent {
    width: 20%;
}

.contact-info p {
  font-size: larger;
}

.contact-info div.row {
  margin-top: 1%;
}

@media screen and (min-width: 800px) {
    .btn {
      width: 10%;
    }
  }