.profile-badge {
    border-width: 2px !important;
    background-color: rgba(0,0,0, 0.4);
    text-shadow: -1px 0 darkblue, 0 1px darkblue, 1px 0 darkblue, 0 -1px darkblue;
}

.personal-badge {
    border-width: medium !important;
}

.friends-icon {
    border-width: 2px !important;
}