.partyBadge {
    background-color: white;
    border: solid 1px #e69200;
    color: #e69200;
    font-size: 100%;
}

.meetingBadge {
    background-color: white;
    border: solid 1px #03406a;
    color: #03406a;
    font-size: 100%;
}

.sportBadge {
    background-color: white;
    border: solid 1px #2b8e00;
    color: #2b8e00;
    font-size: 100%;
}

.partyButtonPrimary {
    background-color: #e69200;
    border-color: #e69200;
    color: white;
}

.sportButtonPrimary {
    background-color: #2b8e00;
    border-color: #2b8e00;
    color: white;
}

.meetingButtonPrimary {
    background-color: #03406a;
    border-color: #03406a;
    color: white;
}

.partyButtonSecondary {
    background-color: white;
    border-color: #e69200;
    color: #e69200;
}

.sportButtonSecondary {
    background-color: white;
    border-color: #2b8e00;
    color: #2b8e00;
}

.meetingButtonSecondary {
    background-color: white;
    border-color: #03406a;
    color: #03406a;
}