.badge-description{
    font-size: 1rem;
}

.badge-progress-bar{
    height: 1rem;
}

.badge-name{
    font-size: 1.25rem;
}

/**
  Smartphone(SM) Landscape
 */
@media screen and (orientation:landscape) {
}

/*
 Tablet(MD) Portrait
*/
@media (min-width: 768px) and (max-width: 992px) {

    .badge-description{
        font-size: 1.35rem;
    }
    .badge-name{
        font-size: 1.7rem;
    }
    .badge-progress-bar{
        height: 1.5rem;
    }
}

/*
 Tablet(MD) Landscape
*/
@media (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {

    .badge-description{
        font-size: 1.35rem;
    }
    .badge-name{
        font-size: 1.7rem;
    }
    .badge-progress-bar{
        height: 1.5rem;
    }
}

/*
 Desktop/Tablet(LG) Portrait
*/
@media (min-width: 992px) and (max-width: 1200px) {

    .badge-description{
        font-size: 1.35rem;
    }
    .badge-name{
        font-size: 1.7rem;
    }
    .badge-progress-bar{
        height: 1.5rem;
    }
}

/*
 Desktop/Tablet(LG) Landscape
*/
@media (min-width: 992px) and (max-width: 1200px) and (orientation: landscape) {

    .badge-description{
        font-size: 1.35rem;
    }
    .badge-name{
        font-size: 1.7rem;
    }
    .badge-progress-bar{
        height: 1.5rem;
    }
}

/*
 Desktop(XL) Portrait
*/
@media (min-width: 1200px) {
}

/*
 Desktop(XL) Landscape
*/
@media (min-width: 1200px) and (orientation: landscape) {
}