.btn-filter {}
.filters-container {}
.input-search{}

/**
  Smartphone(SM) Landscape
 */
@media screen and (orientation:landscape) {
    .btn-filter {
        display: none !important;
    }
    .input-search {
        margin-right: 3%;
    }
}

/*
 Tablet(MD) Portrait
*/
@media (min-width: 768px) and (max-width: 992px) {
}

/*
 Tablet(MD) Landscape
*/
@media (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
    .btn-filter {
        display: inline !important;
    }
}

/*
 Desktop/Tablet(LG) Portrait
*/
@media (min-width: 992px) and (max-width: 1200px) {
    .btn-filter {
        display: inline !important;
    }
}

/*
 Desktop/Tablet(LG) Landscape
*/
@media (min-width: 992px) and (max-width: 1200px) and (orientation: landscape) {
    .btn-filter {
        display: inline !important;
    }
}

/*
 Desktop(XL) Portrait
*/
@media (min-width: 1200px) {
    .btn-filter {
        display: inline !important;
    }
}

/*
 Desktop(XL) Landscape
*/
@media (min-width: 1200px) and (orientation: landscape) {
    .btn-filter {
        display: inline !important;
    }
}