.btn-filter {}
.filters-container {}
.input-search{}
.logo {}

.pac-container {
    z-index: 9999999999;
}

/**
  Smartphone(SM) Landscape
 */
@media screen and (orientation:landscape) {
    .btn-filter {
        display: none !important;
    }
    .input-search {
        margin-right: 3%;
    }
}

/*
 Tablet(MD) Portrait
*/
@media (min-width: 768px) and (max-width: 992px) {
    .btn-filter {
        font-size: larger;
    }
    .logo {
        font-size: x-large;
    }
    .input-search {
        font-size: larger;
    }
}

/*
 Tablet(MD) Landscape
*/
@media (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
    .btn-filter {
        font-size: x-large;
        display: inline !important;
    }
    .logo {
        font-size: xx-large;
    }
    .input-search {
        font-size: x-large;
    }
}

/*
 Desktop/Tablet(LG) Portrait
*/
@media (min-width: 992px) and (max-width: 1200px) {
    .btn-filter {
        font-size: larger;
        display: inline !important;
    }
    .logo {
        font-size: x-large;
    }
    .input-search {
        font-size: larger;
    }
}

/*
 Desktop/Tablet(LG) Landscape
*/
@media (min-width: 992px) and (max-width: 1200px) and (orientation: landscape) {
    .btn-filter {
        font-size: x-large;
        display: inline !important;
    }
    .logo {
        font-size: xx-large;
    }
    .input-search {
        font-size: x-large;
    }
}

/*
 Desktop(XL) Portrait
*/
@media (min-width: 1200px) {
    .btn-filter {
        display: inline !important;
    }
}

/*
 Desktop(XL) Landscape
*/
@media (min-width: 1200px) and (orientation: landscape) {
    .btn-filter {
        display: inline !important;
    }
}