.event-info-section-title {
    font-size: 1.25rem;
}

.event-info-text {
}

/**
  Smartphone(SM) Landscape
 */
@media screen and (orientation:landscape) {
}

/*
 Tablet(MD) Portrait
*/
@media (min-width: 768px) and (max-width: 992px) {
    .event-info-section-title {
        font-size: 1.40rem;
    }
    .event-info-text {
        font-size: 1.20rem;
    }
}

/*
 Tablet(MD) Landscape
*/
@media (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
}

/*
 Desktop/Tablet(LG) Portrait
*/
@media (min-width: 992px) and (max-width: 1200px) {
    .event-info-section-title {
        font-size: 1.40rem;
    }
    .event-info-text {
        font-size: 1.20rem;
    }
}

/*
 Desktop/Tablet(LG) Landscape
*/
@media (min-width: 992px) and (max-width: 1200px) and (orientation: landscape) {
}

/*
 Desktop(XL) Portrait
*/
@media (min-width: 1200px) and (max-width: 1500px) {
    .event-info-section-title {
        font-size: 1.25rem;
    }

    .event-info-text {
        font-size: 1.1rem;
    }

    .event-info-image {
        max-height: 400px;
        min-height: 400px;
    }

    .textarea-size{
        min-height: 200px;
        max-height: 200px;
    }
}

/*
 Desktop(XL) Landscape
*/
@media (min-width: 1200px) and (max-width: 1500px) and (orientation: landscape) {
    .event-info-section-title {
        font-size: 1.25rem;
    }

    .event-info-text {
        font-size: 1.1rem;
    }

    .event-info-image {
        max-height: 400px;
        min-height: 400px;
    }
    .textarea-size{
        min-height: 200px;
        max-height: 200px;
    }
}

/*
 Desktop(XXL) Portrait
*/
@media (min-width: 1500px) {
    .event-info-image {
        max-height: 450px;
        min-height: 450px;
    }
    .textarea-size{
        min-height: 200px;
        max-height: 200px;
    }
}

/*
 Desktop(XXL) Landscape
*/
@media (min-width: 1500px) and (orientation: landscape) {
    .event-info-image {
        max-height: 450px;
        min-height: 450px;
    }
    .textarea-size{
        min-height: 200px;
        max-height: 200px;
    }
}