.partyBadge {
    background-color: white;
    border: solid 1px #e69200;
    color: #e69200;
    font-size: 100%;
}

.meetingBadge {
    background-color: white;
    border: solid 1px #03406a;
    color: #03406a;
    font-size: 100%;
}

.sportBadge {
    background-color: white;
    border: solid 1px #2b8e00;
    color: #2b8e00;
    font-size: 100%;
}

.partyButtonPrimary {
    background-color: #e69200;
    border-color: #e69200;
    color: white;
}

.sportButtonPrimary {
    background-color: #2b8e00;
    border-color: #2b8e00;
    color: white;
}

.meetingButtonPrimary {
    background-color: #03406a;
    border-color: #03406a;
    color: white;
}

.partyButtonSecondary {
    background-color: white;
    border-color: #e69200;
    color: #e69200;
}

.sportButtonSecondary {
    background-color: white;
    border-color: #2b8e00;
    color: #2b8e00;
}

.meetingButtonSecondary {
    background-color: white;
    border-color: #03406a;
    color: #03406a;
}

.partyBanner {
    background-color:#e69200;
    color: white;
}

.sportBanner {
    background-color:#2b8e00;
    color: white;
}

.meetingBanner {
    background-color:#03406a;
    color: white;
}

.badge-text {}

.event-banner-event-name {}
.event-banner-event-info {}
.event-banner-event-info-icon {}
.event-banner-event-participants {}

.form-title {}
.form-size {}

.event-organizator-name {}

/**
  Smartphone(SM) Landscape
 */
@media screen and (orientation:landscape) {
}

/*
 Tablet(MD) Portrait
*/
@media (min-width: 768px) and (max-width: 992px) {
    .badge-text {
        font-size: larger;
    }
    .event-banner-event-name {
        font-size: xx-large;
    }
    .event-banner-event-info {
        font-size: larger;
    }
    .event-banner-event-info-icon {
        font-size: larger;
    }
    .event-banner-event-participants {
        font-size: x-large;
    }
    .form-title {
        font-size: 1.40rem;
    }
    .form-size {
        font-size: 1.20rem;
    }
}

/*
 Tablet(MD) Landscape
*/
@media (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
    .badge-text {
        font-size: x-large;
    }
    .event-banner-event-name {
        font-size: xx-large;
    }
    .event-banner-event-info {
        font-size: larger;
    }
    .event-banner-event-info-icon {
        font-size: larger;
    }
    .event-banner-event-participants {
        font-size: x-large;
    }
    .form-title {
        font-size: 1.40rem;
    }
    .form-size {
        font-size: 1.20rem;
    }
}

/*
 Desktop/Tablet(LG) Portrait
*/
@media (min-width: 992px) and (max-width: 1200px) {
    .badge-text {
        font-size: larger;
    }
    .event-banner-event-name {
        font-size: xx-large;
    }
    .event-banner-event-info {
        font-size: larger;
    }
    .event-banner-event-info-icon {
        font-size: larger;
    }
    .event-banner-event-participants {
        font-size: x-large;
    }
    .form-title {
        font-size: 1.40rem;
    }
    .form-size {
        font-size: 1.20rem;
    }
}

/*
 Desktop/Tablet(LG) Landscape
*/
@media (min-width: 992px) and (max-width: 1200px) and (orientation: landscape) {
    .badge-text {
        font-size: x-large;
    }
    .event-banner-event-name {
        font-size: xx-large;
    }
    .event-banner-event-info {
        font-size: larger;
    }
    .event-banner-event-info-icon {
        font-size: larger;
    }
    .event-banner-event-participants {
        font-size: x-large;
    }
    .form-title {
        font-size: 1.40rem;
    }
    .form-size {
        font-size: 1.20rem;
    }
}

/*
 Desktop(XL) Portrait
*/
@media (min-width: 1200px) {
    .event-banner-event-name {
        font-size: x-large;
    }
    .event-banner-event-info {
        font-size: large;
    }
    .event-banner-event-info-icon {
        font-size: large;
    }
    .event-banner-event-participants {
        font-size: larger;
    }
    .event-organizator-name {
        font-size: 1.1rem;
    }
}

/*
 Desktop(XL) Landscape
*/
@media (min-width: 1200px) and (orientation: landscape) {
    .event-banner-event-name {
        font-size: x-large;
    }
    .event-banner-event-info {
        font-size: large;
    }
    .event-banner-event-info-icon {
        font-size: large;
    }
    .event-banner-event-participants {
        font-size: larger;
    }
    .event-organizator-name {
        font-size: 1.1rem;
    }
}