.myCard {
    max-height: 250px;
    min-height: 250px;
}

.event-name {
    font-size:1.35rem;
    font-weight:500;
    margin-top:0;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.event-text {
    font-size:1rem;
    font-weight:500;
    margin-top:0;
    color: white !important;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.event-place {
    font-size: 0.85rem;
    font-weight:500;
    margin-top:0;
    color: white !important;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}