.myCard {
    max-height: 250px;
    min-height: 250px;
}

.event-name {
    font-size:1.35rem;
    font-weight:500;
    margin-top:0;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.event-text {
    font-size:1rem;
    font-weight:500;
    margin-top:0;
    color: white !important;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.event-place {
    font-size: 0.85rem;
    font-weight:500;
    margin-top:0;
    color: white !important;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.long-event-address {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2; /* number of lines to show */
}

.long-event-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3; /* number of lines to show */
}

/**
  Smartphone(SM) Landscape
 */
@media screen and (orientation:landscape) {
}

/*
 Tablet(MD) Portrait
*/
@media (min-width: 768px) and (max-width: 992px) {
    .event-name {
        font-size:1.65rem;
    }

    .event-text {
        font-size:1.25rem;
    }

    .event-place {
        font-size: 1rem;
    }
}

/*
 Tablet(MD) Landscape
*/
@media (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
    .event-name {
        font-size:1.65rem;
    }

    .event-text {
        font-size:1.25rem;
    }

    .event-place {
        font-size: 1rem;
    }
}

/*
 Desktop/Tablet(LG) Portrait
*/
@media (min-width: 992px) and (max-width: 1200px) {
    .event-name {
        font-size:1.65rem;
    }

    .event-text {
        font-size:1.25rem;
    }

    .event-place {
        font-size: 1rem;
    }
}

/*
 Desktop/Tablet(LG) Landscape
*/
@media (min-width: 992px) and (max-width: 1200px) and (orientation: landscape) {
    .event-name {
        font-size:1.65rem;
    }

    .event-text {
        font-size:1.25rem;
    }

    .event-place {
        font-size: 1rem;
    }
}

/*
 Desktop(XL) Portrait
*/
@media (min-width: 1200px) and (max-width: 1500px) {
    .myCard {
        max-height: 300px;
        min-height: 300px;
    }
}

/*
 Desktop(XL) Landscape
*/
@media (min-width: 1200px) and (max-width: 1500px) and (orientation: landscape) {
    .myCard {
        max-height: 300px;
        min-height: 300px;
    }
}

/*
 Desktop(XXL) Portrait
*/
@media (min-width: 1500px) {
    .myCard {
        max-height: 350px;
        min-height: 350px;
    }
}

/*
 Desktop(XXL) Landscape
*/
@media (min-width: 1500px) and (orientation: landscape) {
    .myCard {
        max-height: 350px;
        min-height: 350px;
    }
}