<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EventHub</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/stylesheets/common.css">

</head>
<body class="container-fluid" style="background-color: red">

<nav class="sticky-top row navbar navbar-light bg-light border-bottom border-primary px-0">
    <h1 class="col-2 navbar-brand text-primary mx-0 mb-0 font-weight-bold">EH</h1>
    <form class="col-10 form-inline container-fluid px-1">
        <div class="row w-100 mx-0">
            <label for="tf-search" class="d-none">Search field</label>
            <label for="btn-search" class="d-none">Search button</label>
            <input id="tf-search" name="tf-search" type="search" placeholder="Cerca qualcosa" class="col-9 form-control" />
            <button id="btn-search" name="btn-search" class="col-auto ml-auto btn btn-success " type="submit">
                <em class="fas fa-search" aria-hidden="true"></em>
            </button>
            <button id="btn-filter" name="btn-filter" class="col-auto ml-auto btn btn-link" type="submit">
                <em class="fas fa-sliders-h" aria-hidden="true"></em>
            </button>
        </div>
    </form>
</nav>

<button class="btn btn-lg btn-light rounded-circle floating-button fixed-bottom" type="submit">
    <em class="fas fa-crosshairs text-secondary" aria-hidden="true"></em>
</button>

<footer class="row fixed-bottom bg-light border-top border-primary mx-0 py-2">
    <div class="col text-center my-auto"><a href="#"><em class="fas fa-map-marked-alt fa-lg"></em></a></div>
    <div class="col text-center my-auto"><a href="./login.html"><em class="fas fa-user fa-lg"></em></a></div>
    <div class="col text-center my-auto"><a href="#"><em class="fas fa-home fa-2x bg-primary text-white rounded-circle p-2"></em></a></div>
    <div class="col text-center my-auto"><a href="#"><em class="fas fa-users fa-lg"></em></a></div>
    <div class="col text-center my-auto"><a href="#"><em class="fas fa-bell fa-lg"></em></a></div>
</footer>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>