.review-text {
}

.reviewer-text {
    font-size: 90%;
}

/**
  Smartphone(SM) Landscape
 */
@media screen and (orientation:landscape) {
}

/*
 Tablet(MD) Portrait
*/
@media (min-width: 768px) and (max-width: 992px) {
    .review-text {
        font-size: larger;
    }
    .reviewer-text {
        font-size: larger;
    }
}

/*
 Tablet(MD) Landscape
*/
@media (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
    .review-text {
        font-size: larger;
    }
    .reviewer-text {
        font-size: larger;
    }
}

/*
 Desktop/Tablet(LG) Portrait
*/
@media (min-width: 992px) and (max-width: 1200px) {
    .review-text {
        font-size: larger;
    }
    .reviewer-text {
        font-size: larger;
    }
}

/*
 Desktop/Tablet(LG) Landscape
*/
@media (min-width: 992px) and (max-width: 1200px) and (orientation: landscape) {
    .review-text {
        font-size: larger;
    }
    .reviewer-text {
        font-size: larger;
    }
}

/*
 Desktop(XL) Portrait
*/
@media (min-width: 1200px) {
    .review-text {
        font-size: larger;
    }
    .reviewer-text {
        font-size: larger;
    }
}

/*
 Desktop(XL) Landscape
*/
@media (min-width: 1200px) and (orientation: landscape) {
    .review-text {
        font-size: larger;
    }
    .reviewer-text {
        font-size: larger;
    }
}