.floating-button {
    margin-left: 80%;
    margin-bottom: 22%;
}

@media screen and (orientation:landscape) {
    .floating-button {
        margin-left: 87%;
        margin-bottom: 12%;
    }
}

/*
 Tablet Portrait
*/
@media (min-width: 768px) and (max-width: 1024px) {
    .floating-button {
        margin-left: 87%;
        margin-bottom: 12%;
    }
}

/*
 Tablet Landscape
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .floating-button {
        margin-left: 88%;
        margin-bottom: 8%;
    }
}