.loading-container {
    margin-top: 70%;
}

#spinner-loading {
    width: 3rem;
    height: 3rem
}

/**
  Smartphone(SM) Landscape
 */
@media screen and (orientation:landscape) {
    .loading-container {
        margin-top: 10%;
    }
}

/*
 Tablet(MD) Portrait
*/
@media (min-width: 768px) and (max-width: 992px) {
    .loading-container {
        margin-top: 50%;
    }
}

/*
 Tablet(MD) Landscape
*/
@media (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
    .loading-container {
        margin-top: 20%;
    }
}

/*
 Desktop/Tablet(LG) Portrait
*/
@media (min-width: 992px) and (max-width: 1200px) {
    .loading-container {
        margin-top: 50%;
    }
}

/*
 Desktop/Tablet(LG) Landscape
*/
@media (min-width: 992px) and (max-width: 1200px) and (orientation: landscape) {
    .loading-container {
        margin-top: 20%;
    }
}

/*
 Desktop(XL) Portrait
*/
@media (min-width: 1200px) {
    .loading-container {
        margin-top: 20%;
    }
}

/*
 Desktop(XL) Landscape
*/
@media (min-width: 1200px) and (orientation: landscape) {
    .loading-container {
        margin-top: 20%;
    }
}