.menu-item-text {
    font-size: 1.25rem;
}

.menu-item-icon {}

/**
  Smartphone(SM) Landscape
 */
@media screen and (orientation:landscape) {
}

/*
 Tablet(MD) Portrait
*/
@media (min-width: 768px) and (max-width: 992px) {
    .menu-item-text {
        font-size: 1.40rem;
    }
    .menu-item-icon {
        font-size: 1.55rem;
    }
}

/*
 Tablet(MD) Landscape
*/
@media (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
}

/*
 Desktop/Tablet(LG) Portrait
*/
@media (min-width: 992px) and (max-width: 1200px) {
    .menu-item-text {
        font-size: 1.40rem;
    }
    .menu-item-icon {
        font-size: 1.55rem;
    }
}

/*
 Desktop/Tablet(LG) Landscape
*/
@media (min-width: 992px) and (max-width: 1200px) and (orientation: landscape) {
}

/*
 Desktop(XL) Portrait
*/
@media (min-width: 1200px) {
}

/*
 Desktop(XL) Landscape
*/
@media (min-width: 1200px) and (orientation: landscape) {
}