.profileBadge {
    border-width: 2px !important;
    background-color: rgba(0,0,0, 0.4);
    text-shadow: -1px 0 darkblue, 0 1px darkblue, 1px 0 darkblue, 0 -1px darkblue;
}

.friendRemove {
    border-width: 2px !important;
    background-color: rgba(0,0,0, 0.4);
    text-shadow: -1px 0 darkred, 0 1px darkred, 1px 0 darkred, 0 -1px darkred;
}

.personalBadge {
    border-width: medium !important;
}

.friendsIcon {
    border-width: 2px !important;
    color: rgba(0,0,180, 0.8);
}

.settingsIcon {
    text-shadow: -1px 0 darkblue, 0 1px darkblue, 1px 0 darkblue, 0 -1px darkblue;
    color: white;
}

.badgeDescription{

}
.badgeName{
    font-size: 1.45rem;
}

/**
  Smartphone(SM) Landscape
 */
@media screen and (orientation:landscape) {
    .profileBadge {
        border-width: 2px !important;
        background-color: rgba(0,0,0, 0.4);
        text-shadow: -1px 0 darkblue, 0 1px darkblue, 1px 0 darkblue, 0 -1px darkblue;
    }
}

/*
 Tablet(MD) Portrait
*/
@media (min-width: 768px) and (max-width: 992px) {
    .profileBadge {
        font-size: larger;
        border-width: 2px !important;
        background-color: white;
        text-shadow: unset;
    }

    .badgeDescription{
        font-size: 1.35rem;
    }
    .badgeName{
        font-size: 1.7rem;
    }
}

/*
 Tablet(MD) Landscape
*/
@media (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
    .profileBadge {
        font-size: larger;
        border-width: 2px !important;
        background-color: white;
        text-shadow: unset;
    }

    .badgeDescription{
        font-size: 1.35rem;
    }
    .badgeName{
        font-size: 1.7rem;
    }
}

/*
 Desktop/Tablet(LG) Portrait
*/
@media (min-width: 992px) and (max-width: 1200px) {
    .profileBadge {
        font-size: larger;
        border-width: 2px !important;
        background-color: white;
        text-shadow: unset;
    }

    .badgeDescription{
        font-size: 1.35rem;
    }
    .badgeName{
        font-size: 1.7rem;
    }
}

/*
 Desktop/Tablet(LG) Landscape
*/
@media (min-width: 992px) and (max-width: 1200px) and (orientation: landscape) {
    .profileBadge {
        font-size: larger;
        border-width: 2px !important;
        background-color: white;
        text-shadow: unset;
    }

    .badgeDescription{
        font-size: 1.35rem;
    }
    .badgeName{
        font-size: 1.7rem;
    }
}

/*
 Desktop(XL) Portrait
*/
@media (min-width: 1200px) {
}

/*
 Desktop(XL) Landscape
*/
@media (min-width: 1200px) and (orientation: landscape) {
}