.elem-name {
}

.elem-info {
}

.elem-group-name {
}

/**
  Smartphone(SM) Landscape
 */
@media screen and (orientation:landscape) {
}

/*
 Tablet(MD) Portrait
*/
@media (min-width: 768px) and (max-width: 992px) {
    .elem-name {
        font-size: larger;
    }

    .elem-info {
        font-size: large;
    }

    .elem-group-name {
        font-size: 1.35rem;
    }
}

/*
 Tablet(MD) Landscape
*/
@media (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
    .elem-name {
        font-size: larger;
    }

    .elem-info {
        font-size: large;
    }

    .elem-group-name {
        font-size: 1.35rem;
    }
}

/*
 Desktop/Tablet(LG) Portrait
*/
@media (min-width: 992px) and (max-width: 1200px) {
    .elem-name {
        font-size: larger;
    }

    .elem-info {
        font-size: large;
    }

    .elem-group-name {
        font-size: 1.35rem;
    }
}

/*
 Desktop/Tablet(LG) Landscape
*/
@media (min-width: 992px) and (max-width: 1200px) and (orientation: landscape) {
    .elem-name {
        font-size: larger;
    }

    .elem-info {
        font-size: large;
    }

    .elem-group-name {
        font-size: 1.35rem;
    }
}

/*
 Desktop(XL) Portrait
*/
@media (min-width: 1200px) {
}

/*
 Desktop(XL) Landscape
*/
@media (min-width: 1200px) and (orientation: landscape) {
}