.main-container {
    margin-bottom: 18%;
}

footer em {
    color: #616161;
}

.event-name {
    font-size:1.35rem;
    font-weight:500;
    margin-top:0;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.event-text {
    font-size:1rem;
    font-weight:500;
    margin-top:0;
    color: white !important;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.festa {
    color:#e69200;
}

.incontro {
    color: #03406a;
}

.sport {
    color: #2b8e00;
}

.festaBadge {
    background-color: white;
    border: solid 1px #e69200;
    color: #e69200;
    font-size: 100%;
}

.incontroBadge {
    background-color: white;
    border: solid 1px #03406a;
    color: #03406a;
    font-size: 100%;
}

.sportBadge {
    background-color: white;
    border: solid 1px #2b8e00;
    color: #2b8e00;
    font-size: 100%;
}

.festaButton, .sportButton, .incontroButton {

}

.festaButtonPrimary {
    background-color: #e69200;
    border-color: #e69200;
    color: white;
}

.sportButtonPrimary {
    background-color: #2b8e00;
    border-color: #2b8e00;
    color: white;
}

.incontroButtonPrimary {
    background-color: #03406a;
    border-color: #03406a;
    color: white;
}

.festaButtonSecondary {
    background-color: white;
    border-color: #e69200;
    color: #e69200;
}

.sportButtonSecondary {
    background-color: white;
    border-color: #2b8e00;
    color: #2b8e00;
}

.incontroButtonSecondary {
    background-color: white;
    border-color: #03406a;
    color: #03406a;
}

.festaBanner {
    background-color:#e69200;
    color: white;
}

.sportBanner {
    background-color:#2b8e00;
    color: white;
}

.incontroBanner {
    background-color:#03406a;
    color: white;
}

.floating-button {
    margin-left: 85%;
    margin-bottom: 22%;
}

