.small-avatar-size {
    height: 60px;
    width: 60px;
}

.big-avatar-size {
    height: 90px;
    width: 90px;
}

.friendsIcon {
    border-width: 2px !important;
    color: rgba(0,0,180, 0.8);
}

/**
  Smartphone(SM) Landscape
 */
@media screen and (orientation:landscape) {
}

/*
 Tablet(MD) Portrait
*/
@media (min-width: 768px) and (max-width: 992px) {
    .small-avatar-size {
        height: 90px;
        width: 90px;
    }
    .big-avatar-size {
        height: 110px;
        width: 110px;
    }
}

/*
 Tablet(MD) Landscape
*/
@media (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
    .small-avatar-size {
        height: 90px;
        width: 90px;
    }
    .big-avatar-size {
        height: 110px;
        width: 110px;
    }
}

/*
 Desktop/Tablet(LG) Portrait
*/
@media (min-width: 992px) and (max-width: 1200px) {
    .small-avatar-size {
        height: 90px;
        width: 90px;
    }
    .big-avatar-size {
        height: 110px;
        width: 110px;
    }
}

/*
 Desktop/Tablet(LG) Landscape
*/
@media (min-width: 992px) and (max-width: 1200px) and (orientation: landscape) {
    .small-avatar-size {
        height: 90px;
        width: 90px;
    }
    .big-avatar-size {
        height: 110px;
        width: 110px;
    }
}

/*
 Desktop(XL) Portrait
*/
@media (min-width: 1200px) and (max-width: 1500px) {
    .small-avatar-size {
        height: 70px;
        width: 70px;
    }
    .big-avatar-size {
        height: 110px;
        width: 110px;
    }
}

/*
 Desktop(XL) Landscape
*/
@media (min-width: 1200px) and (max-width: 1500px) and (orientation: landscape) {
    .small-avatar-size {
        height: 70px;
        width: 70px;
    }
    .big-avatar-size {
        height: 110px;
        width: 110px;
    }
}

/*
 Desktop(XXL) Portrait
*/
@media (min-width: 1500px) {
    .small-avatar-size {
        height: 90px;
        width: 90px;
    }
    .big-avatar-size {
        height: 110px;
        width: 110px;
    }
}

/*
 Desktop(XXL) Landscape
*/
@media (min-width: 1500px) and (orientation: landscape) {
    .small-avatar-size {
        height: 90px;
        width: 90px;
    }
    .big-avatar-size {
        height: 110px;
        width: 110px;
    }
}