<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EventHub</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/stylesheets/common.css">
    <link rel="stylesheet" href="../public/stylesheets/home.css">

</head>
<body class="container-fluid">

<nav class="sticky-top row navbar navbar-light bg-light border-bottom border-primary px-0">
    <h1 class="col-2 navbar-brand text-primary mx-0 mb-0 font-weight-bold">EH</h1>
    <form class="col-10 form-inline container-fluid px-1">
        <div class="row w-100 mx-0">
            <label for="tf-search" class="d-none">Search field</label>
            <label for="btn-search" class="d-none">Search button</label>
            <input id="tf-search" name="tf-search" type="search" placeholder="Cerca qualcosa" class="col-9 form-control" />
            <button id="btn-search" name="btn-search" class="col-auto ml-auto btn btn-success " type="submit">
                <em class="fas fa-search" aria-hidden="true"></em>
            </button>
            <button id="btn-filter" name="btn-filter" class="col-auto ml-auto btn btn-link" type="submit">
                <em class="fas fa-sliders-h" aria-hidden="true"></em>
            </button>
        </div>
    </form>
</nav>

<button class="btn btn-lg btn-primary rounded-circle floating-button fixed-bottom" type="submit">
    <em class="fas fa-plus" aria-hidden="true"></em>
</button>

<main class="main-container">
    <div class="row">
        <div class="col-11 card my-2 mx-auto px-0">
            <div class="card bg-dark" id="locandina&evento">
                <img src="../public/images/party.jpg" class="card-img" alt="locandina evento">
                <div class="card-img-overlay text-white">
                    <div class="d-flex align-items-start flex-column h-100">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-8">
                                    <h5 class="card-title event-name">Evento della Madonna</h5>
                                    <h6 class="card-subtitle text-muted event-text">Organizzazione SPA</h6>
                                </div>
                                <div class="col-4 d-flex justify-content-end">
                                    <h5 class="card-title event-name">0000</h5>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid mt-auto mb-2">
                            <div class="row">
                                <div class="col-12 card-text event-text">
                                    Lorem ipsum dolor sit amet, soluta regione urbanitas vis in, qui elit populo ut.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body container-fluid py-2" id="bottoni&tag">
                <div class="row">
                    <div class="col-3 my-auto">
                        <div class="badge badge-pill festa festaBadge">#Festa</div>
                    </div>
                    <div class="col-9 d-flex justify-content-end">
                        <a href="#" class="btn festaButton festaButtonSecondary">Segui</a>
                        <a href="#" class="btn festaButton festaButtonPrimary ml-2">Partecipa</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-11 card my-2 mx-auto px-0">
            <div class="card bg-dark" id="locandina&evento">
                <img src="../public/images/concerto.jpeg" class="card-img" alt="locandina evento">
                <div class="card-img-overlay text-white">
                    <div class="d-flex align-items-start flex-column h-100">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-8">
                                    <h5 class="card-title event-name">Evento della Madonna</h5>
                                    <h6 class="card-subtitle text-muted event-text">Organizzazione SPA</h6>
                                </div>
                                <div class="col-4 d-flex justify-content-end">
                                    <h5 class="card-title event-name">0000</h5>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid mt-auto mb-2">
                            <div class="row">
                                <div class="col-12 card-text event-text">
                                    Lorem ipsum dolor sit amet, soluta regione urbanitas vis in, qui elit populo ut.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body container-fluid py-2" id="bottoni&tag">
                <div class="row">
                    <div class="col-3 my-auto">
                        <div class="badge badge-pill incontro incontroBadge">#Incontro</div>
                    </div>
                    <div class="col-9 d-flex justify-content-end">
                        <a href="#" class="btn incontroButton incontroButtonSecondary">Segui</a>
                        <a href="#" class="btn incontroButton incontroButtonPrimary ml-2">Partecipa</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-11 card my-2 mx-auto px-0">
            <div class="card bg-dark" id="locandina&evento">
                <img src="../public/images/campo-calcio.png" class="card-img" alt="locandina evento">
                <div class="card-img-overlay text-white">
                    <div class="d-flex align-items-start flex-column h-100">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-8">
                                    <h5 class="card-title event-name">Evento della Madonna</h5>
                                    <h6 class="card-subtitle text-muted event-text">Organizzazione SPA</h6>
                                </div>
                                <div class="col-4 d-flex justify-content-end">
                                    <h5 class="card-title event-name">0000</h5>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid mt-auto mb-2">
                            <div class="row">
                                <div class="col-12 card-text event-text">
                                    Lorem ipsum dolor sit amet, soluta regione urbanitas vis in, qui elit populo ut.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body container-fluid py-2" id="bottoni&tag">
                <div class="row">
                    <div class="col-3 my-auto">
                        <div class="badge badge-pill sport sportBadge">#Sport</div>
                    </div>
                    <div class="col-9 d-flex justify-content-end">
                        <a href="#" class="btn sportButton sportButtonSecondary">Segui</a>
                        <a href="#" class="btn sportButton sportButtonPrimary ml-2">Partecipa</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="row fixed-bottom bg-light border-top border-primary mx-0 py-2">
    <div class="col text-center my-auto"><a href="#"><em class="fas fa-map-marked-alt fa-lg"></em></a></div>
    <div class="col text-center my-auto"><a href="./login.html"><em class="fas fa-user fa-lg"></em></a></div>
    <div class="col text-center my-auto"><a href="#"><em class="fas fa-home fa-2x bg-primary text-white rounded-circle p-2"></em></a></div>
    <div class="col text-center my-auto"><a href="#"><em class="fas fa-users fa-lg"></em></a></div>
    <div class="col text-center my-auto"><a href="#"><em class="fas fa-bell fa-lg"></em></a></div>
</footer>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
