<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EventHub</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/stylesheets/common.css">
    <link rel="stylesheet" href="../public/stylesheets/notifications.css">

</head>
<body class="container-fluid">

<section class="row sticky-top shadow bg-white border-bottom border-primary text-center">
    <h1 class="col ml-1">Notifiche</h1>
</section>

<main class="main-container">

    <div class="row">
        <div class="col card shadow my-2 mx-2 px-0">
            <div class="card-body container-fluid py-2">
                <div class="row">
                    <div class="col-8">
                        <div class="row">
                            <div class="col-2 px-0">
                                <img src="../public/images/gatto.jpeg" class="img-fluid border rounded-circle" alt="Immagine profilo utente">
                            </div>
                            <div class="col-10 d-flex flex-column justify-content-center">
                                <span class="text-secondary time-passed">2 min</span>
                                <span class="text-invited"><span class="font-weight-bold">Gesù</span> ti ha invitato a</span> 
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <h4 class="font-weight-bold">Evento della Madonna</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <img src="../public/images/party.jpg" class="img-fluid" alt="locandina evento">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-3 my-auto">
                        <div class="badge badge-pill festa festaBadge">#Festa</div>
                    </div>
                    <div class="col-9 d-flex justify-content-end">
                        <a href="#" class="btn festaButton festaButtonSecondary notification-btn">Segui</a>
                        <a href="#" class="btn festaButton festaButtonPrimary notification-btn ml-2">Partecipa</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col card shadow my-2 mx-2 px-0">
            <div class="card-body container-fluid py-2">
                <div class="row">
                    <div class="col-8">
                        <div class="row">
                            <div class="col-2 px-0">
                                <img src="../public/images/gatto.jpeg" class="img-fluid border rounded-circle" alt="Immagine profilo utente">
                            </div>
                            <div class="col-10 d-flex flex-column justify-content-center">
                                <span class="text-secondary time-passed">2 min</span>
                                <span class="text-invited font-weight-bold">Charles Leclerc</span> 
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <p>Ti ha inviato la richiesta di amicizia</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 my-auto px-0">
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-primary" type="submit">
                                    <em class="fas fa-user-plus fa-lg"></em>
                                </button>
                            </div>
                            <div class="col">
                                <button class="btn btn-outline-primary" type="submit">
                                    <em class="fas fa-user-times fa-lg"></em>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col card shadow my-2 mx-2 px-0">
            <div class="card-body container-fluid py-2">
                <div class="row">
                    <div class="col-8">
                        <div class="row">
                            <div class="col-2 px-0">
                                <img src="../public/images/gatto.jpeg" class="img-fluid border rounded-circle" alt="Immagine profilo utente">
                            </div>
                            <div class="col-10 d-flex flex-column justify-content-center">
                                <span class="text-secondary time-passed">2 min</span>
                                <span class="text-invited"><span class="font-weight-bold">Gesù</span> ti ha invitato a</span> 
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <h4 class="font-weight-bold">Evento della Madonna</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <img src="../public/images/campo-calcio.png" class="img-fluid" alt="locandina evento">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-3 my-auto">
                        <div class="badge badge-pill sport sportBadge">#Sport</div>
                    </div>
                    <div class="col-9 d-flex justify-content-end">
                        <a href="#" class="btn sportButton sportButtonSecondary notification-btn">Segui</a>
                        <a href="#" class="btn sportButton sportButtonPrimary ml-2 notification-btn">Partecipa</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
            <div class="col card shadow my-2 mx-2 px-0">
                <div class="card-body container-fluid py-2">
                    <div class="row">
                        <div class="col-8">
                            <div class="row">
                                <div class="col-2 px-0">
                                    <img src="../public/images/gatto.jpeg" class="img-fluid border rounded-circle" alt="Immagine profilo utente">
                                </div>
                                <div class="col-10 d-flex flex-column justify-content-center">
                                    <span class="text-secondary time-passed">2 min</span>
                                    <span class="text-invited font-weight-bold">Charles Leclerc</span> 
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col">
                                    <p>Vuole sapere la tua posizione</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 my-auto px-0">
                            <div class="row">
                                <div class="col">
                                    <button class="btn btn-primary" type="submit">
                                        <em class="fas fa-street-view fa-lg"></em>
                                    </button>
                                </div>
                                <div class="col">
                                    <button class="btn btn-outline-primary" type="submit">
                                        <em class="fas fa-times fa-lg"></em>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="row">
            <div class="col card shadow my-2 mx-2 px-0">
                <div class="card-body container-fluid py-2">
                    <div class="row">
                        <div class="col-8">
                            <div class="row">
                                <div class="col-2 px-0">
                                    <img src="../public/images/gatto.jpeg" class="img-fluid border rounded-circle" alt="Immagine profilo utente">
                                </div>
                                <div class="col-10 d-flex flex-column justify-content-center">
                                    <span class="text-secondary time-passed">2 min</span>
                                    <span class="text-invited"><span class="font-weight-bold">Gesù</span> ti ha invitato a</span> 
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col">
                                    <h4 class="font-weight-bold">Evento della Madonna</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <img src="../public/images/concerto.jpeg" class="img-fluid" alt="locandina evento">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-3 my-auto">
                            <div class="badge badge-pill incontro incontroBadge">#Incontro</div>
                        </div>
                        <div class="col-9 d-flex justify-content-end">
                            <a href="#" class="btn incontroButton incontroButtonSecondary notification-btn">Segui</a>
                            <a href="#" class="btn incontroButton incontroButtonPrimary ml-2 notification-btn">Partecipa</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>

</main>

<footer class="row fixed-bottom bg-light border-top border-primary mx-0 py-2">
    <div class="col text-center my-auto"><a href="#"><em class="fas fa-map-marked-alt fa-lg"></em></a></div>
    <div class="col text-center my-auto"><a href="./login.html"><em class="fas fa-user fa-lg"></em></a></div>
    <div class="col text-center my-auto"><a href="./home.html"><em class="fas fa-home fa-2x bg-primary text-white rounded-circle p-2"></em></a></div>
    <div class="col text-center my-auto"><a href="#"><em class="fas fa-users fa-lg"></em></a></div>
    <div class="col text-center my-auto"><a href="#"><em class="fas fa-bell fa-lg"></em></a></div>
</footer>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
