.main-container {
    margin-bottom: 32%;
}

footer em, .navbar-icon {
    color: #616161;
}

.review-modal-button  {
    width: 30%
}

.page-title {
}

.button-size {
}

.notification-badge{
}

/**
  Smartphone(SM) Landscape
 */
@media screen and (orientation:landscape) {
    .main-container {
        margin-bottom: 18%;
    }
}

/*
 Tablet(MD) Portrait
*/
@media (min-width: 768px) and (max-width: 992px) {
    .main-container {
        margin-bottom: 20%;
    }
    .page-title {
        font-size: 3rem;
    }
    .button-size {
        font-size: larger;
    }
    .notification-badge{
        font-size: 0.9rem;
    }
}

/*
 Tablet(MD) Landscape
*/
@media (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
    .main-container {
        margin-bottom: 17%;
    }
    .page-title {
        font-size: 3rem;
    }
    .button-size {
        font-size: x-large;
    }
    .notification-badge{
        font-size: 0.9rem;
    }
}

/*
 Desktop/Tablet(LG) Portrait
*/
@media (min-width: 992px) and (max-width: 1200px) {
    .main-container {
        margin-bottom: 18%;
    }
    .page-title {
        font-size: 3rem;
    }
    .button-size {
        font-size: larger;
    }
    .notification-badge{
        font-size: 0.9rem;
    }
}

/*
 Desktop/Tablet(LG) Landscape
*/
@media (min-width: 992px) and (max-width: 1200px) and (orientation: landscape) {
    .main-container {
        margin-bottom: 14%;
    }
    .page-title {
        font-size: 3rem;
    }
    .button-size {
        font-size: x-large;
    }
    .notification-badge{
        font-size: 0.9rem;
    }
}

/*
 Desktop(XL) Portrait
*/
@media (min-width: 1200px) and (max-width: 1500px) {
    .main-container {
        margin-bottom: 3%;
    }
    .button-size {
        font-size: large;
    }
    .page-title {
        font-size: 2.5rem;
    }
}

/*
 Desktop(XL) Landscape
*/
@media (min-width: 1200px) and (max-width: 1500px) and (orientation: landscape) {
    .main-container {
        margin-bottom: 3%;
    }
    .button-size {
        font-size: large;
    }
    .page-title {
        font-size: 2.5rem;
    }
}

/*
 Desktop(XXL) Portrait
*/
@media (min-width: 1500px) {
    .main-container {
        margin-bottom: 3%;
    }
    .button-size {
        font-size: large;
    }
    .page-title {
        font-size: 2.8rem;
    }
}

/*
 Desktop(XXL) Landscape
*/
@media (min-width: 1500px) and (orientation: landscape) {
    .main-container {
        margin-bottom: 3%;
    }
    .button-size {
        font-size: large;
    }
    .page-title {
        font-size: 2.8rem;
    }
}